services:
  lpr-app:
    build: .
    container_name: lpr_amd_container
    volumes:
      - .:/app
    devices:
      - "/dev/kfd:/dev/kfd"
      - "/dev/dri:/dev/dri"
    security_opt:
      - seccomp:unconfined
    # Replace these numbers with the results from the 'getent' command above
    group_add:
      - "39" # Example GID for video
      - "107" # Example GID for render
    environment:
      - HSA_OVERRIDE_GFX_VERSION=10.3.0
      - PYTHONUNBUFFERED=1
    command: sleep infinity
