services:
  lpr-app:
    build: .
    container_name: lpr_amd_container
    volumes:
      - .:/app
    devices:
      - "/dev/kfd:/dev/kfd"
      - "/dev/dri:/dev/dri"
    security_opt:
      - seccomp:unconfined
    group_add:
      - "39" # Example GID for video
      - "107" # Example GID for render
    environment:
      - TORCH_FORCE_NO_WEIGHTS_ONLY_LOAD=1
      - HSA_OVERRIDE_GFX_VERSION=10.3.0
      - PYTHONUNBUFFERED=1
    stdin_open: true # Allows interactive input
    tty: true # Allows colored terminal output
    command: sleep infinity
