# --- Core AI & Computer Vision ---
ultralytics>=8.1.0
easyocr
opencv-python-headless
ipython

# --- Data Handling ---
numpy
pandas
Pillow
PyYAML
scipy
tqdm

# --- Mathematical & System Utilities ---
hydra-core
matplotlib
seaborn
requests
psutil
thop
GitPython